/* ======== GERAL ======== */


.card img {
width: 100%;
border-radius: 8px;
cursor: pointer;
}


/* ======== FORM ======== */
.contato {
padding: 20px;
}


form {
display: flex;
flex-direction: column;
gap: 10px;
}


input, textarea {
padding: 10px;
border-radius: 6px;
border: 1px solid #bcd0ff;
}


button {
padding: 12px;
background: #1e60ff;
border: none;
border-radius: 6px;
color: white;
font-size: 15px;
cursor: pointer;
}


/* ======== MODAL (ZOOM) ======== */
#zoomModal {
display: none;
position: fixed;
justify-content: center;
align-items: center;
z-index: 9999;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.8);
}


#zoomImg {
max-width: 90%;
max-height: 90%;
border-radius: 10px;
transition: transform 0.1s linear;
transform-origin: center;
}


#closeModal {
position: absolute;
top: 20px;
right: 25px;
font-size: 40px;
font-weight: bold;
color: white;
cursor: pointer;
}
