/* ======== GERAL ======== */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #eef4ff;
}

/* ======== HEADER ======== */
header {
    background: #1e60ff;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

#menu-btn {
    background: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 18px;
    color: #1e60ff;
    cursor: pointer;
}

#menu {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 40px;
}

#menu li {
    list-style: none;
    margin: 1px 0;
}

#menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* ======== INÍCIO ======== */
.intro {
    text-align: center;
    padding: 30px;
}

/* ======== PRODUÇÕES ======== */
.producoes {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

/* ======== FORM ======== */
.contato {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #bcd0ff;
}

button {
    padding: 12px;
    background: #1e60ff;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

/* ======== MODAL (ZOOM) ======== */
#zoomModal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

#zoomImg {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

#closeModal {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
